.searchBarDiv{
    display: flex;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0px);

    padding: 1rem 1.2rem;
    align-items: center;
    color: red;

    background-color: beige;
    border-radius: 20px;
    gap: 1rem;
}

input[type="search"]{
    border-radius: 7px;
    background-color: aqua;
}

.checkboxFilter{
    background-color: azure;
}

.searchBtn{
    background-color: aquamarine;
    padding: 2px 2px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}




