img{
    width: 100px;
    object-fit: cover;
    border-radius: 15%;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.card2{
    font-size: small;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin: 2rem;
    border: 5px solid blue;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.section2{
    font-size: large;
    display: grid;
    
}